In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
plt.style.use("seaborn")

/var/folders/21/vgybxt6529g5wrtxj6dvczdm0000gn/T/ipykernel_6048/183428500.py:6: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use("seaborn")

In [2]:
data = pd.read_csv("Ecommerce Customers.csv")
data.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [3]:
data.columns

Index(['Email', 'Address', 'Avatar', 'Avg. Session Length', 'Time on App',
       'Time on Website', 'Length of Membership', 'Yearly Amount Spent'],
      dtype='object')

In [4]:
X = data[['Avg. Session Length','Time on App','Time on Website','Length of Membership']]
y = data['Yearly Amount Spent']
X.shape,y.shape
n_features = X.shape[1]

In [5]:
def featurescaling(X):
    Xmean = X.mean(axis=0)
    Xstd = X.std(axis=0)
    
    return (X - Xmean)/Xstd
X = featurescaling(X)
X.mean(axis=0),X.std(axis=0)

(Avg. Session Length     2.916778e-15
 Time on App            -1.083578e-15
 Time on Website         6.266987e-15
 Length of Membership   -1.492140e-16
 dtype: float64,
 Avg. Session Length     1.0
 Time on App             1.0
 Time on Website         1.0
 Length of Membership    1.0
 dtype: float64)

In [6]:
Xtrain , Xtest , ytrain , ytest = train_test_split(X,y,shuffle=False,random_state=0)

In [7]:
Xtrain.shape,Xtest.shape,ytrain.shape,ytest.shape

((375, 4), (125, 4), (375,), (125,))

In [8]:
def fit(X,y):
    X = np.c_[np.zeros(len(X))+1, X]
    
    theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
    return theta

def predict(X,theta):
    X = np.c_[np.zeros(len(X))+1, X]
    
    return X.dot(theta)

In [9]:
fit1 = fit(Xtrain,ytrain)
y_predict = predict(Xtest,fit1)

In [10]:
def evaluation(y,y_predict):
    ymean = y.mean()
    num = np.sum((y - y_predict)**2)
    denom = np.sum((y - ymean)**2)
    
    return 1 - num/denom

In [11]:
e = evaluation(ytest,y_predict)
e

0.9797583768177703